clusterName: ${CLUSTERNAME}
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.4
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.2
endpoint: https://${VIP}:6443
allowSchedulingOnControlPlanes: true
additionalMachineCertSans:
    - 127.0.0.1
    - ${VIP}
additionalApiServerCertSans:
    - 127.0.0.1
    - ${VIP}
# Warning: Also used in Cilium CNI values!
clusterPodNets:
    - ${PODNET}
clusterSvcNets:
    - ${SVCNET}
cniConfig:
    name: none
patches:
    - '@./patches/all.yaml'
nodes:
    # We would adivce to always stick to a "k8s-something-1" style naming scheme
    # - hostname: k8s-control-1
    #   ipAddress: ${MASTER1IP_IP}
    #   controlPlane: true
    #   installDiskSelector:
    #     size: <= 1600GB
    #   networkInterfaces:
    #     # suffix is the adapter mac adres.
    #     - interface: eth0
    #       mtu: 1500
    #       dhcp: true
    #       vip:
    #         ip: ${VIP}
    #     - interface: eth1
    #       mtu: 9000
    #       addresses:
    #         - ${NFS1IP}
    #       routes: []
    # - hostname: k8s-control-2
    #   ipAddress: ${MASTER2IP_IP}
    #   controlPlane: true
    #   installDiskSelector:
    #     size: <= 1600GB
    #   networkInterfaces:
    #     # suffix is the adapter mac adres.
    #     - interface: eth0
    #       mtu: 1500
    #       dhcp: true
    #       vip:
    #         ip: ${VIP}
    #     - interface: eth1
    #       mtu: 9000
    #       addresses:
    #         - ${NFS2IP}
    #       routes: []
    - hostname: k8s-control-3
      ipAddress: ${MASTER3IP_IP}
      controlPlane: true
      installDiskSelector:
        size: <= 1600GB
      networkInterfaces:
        # suffix is the adapter mac adres.
        - interface: eth0
          mtu: 1500
          dhcp: true
          vip:
            ip: ${VIP}
        - interface: eth1
          mtu: 9000
          addresses:
            - ${NFS3IP}
          routes: []
controlPlane:
    patches:
        - '@./patches/controlplane.yaml'
    kernelModules:
     - name: nvme_tcp
     - name: vfio_pci
     - name: uio_pci_generic
    schematic:
        customization:
            extraKernelArgs:
                - net.ifnames=0
            systemExtensions:
                officialExtensions:
                    - siderolabs/util-linux-tools
                    - siderolabs/iscsi-tools
                    - siderolabs/qemu-guest-agent
    machineFiles:
    - content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
      permissions: 0
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |
        [ NFSMount_Global_Options ]
        nfsvers=3
        async
        hard
        nconnect=16
        noatime
        nodiratime
        nolock
        rsize=1048576
        wsize=1048576
        timeo=600
        retrans=2
      permissions: 420
      path: /etc/nfsmount.conf
      op: overwrite

worker:
    patches:
        - '@./patches/worker.yaml'
    kernelModules:
     - name: nvme_tcp
     - name: vfio_pci
     - name: uio_pci_generic
    schematic:
        customization:
            systemExtensions:
                officialExtensions:
                    - siderolabs/util-linux-tools
                    - siderolabs/iscsi-tools
                    - siderolabs/qemu-guest-agent
    machineFiles:
    - content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
      permissions: 0
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |
        [ NFSMount_Global_Options ]
        nfsvers=3
        async
        hard
        nconnect=16
        noatime
        nodiratime
        nolock
        rsize=1048576
        wsize=1048576
        timeo=600
        retrans=2
      permissions: 420
      path: /etc/nfsmount.conf
      op: overwrite
