---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: grafana
    namespace: grafana
spec:
    interval: 15m
    chart:
        spec:
            chart: grafana
            version: 21.6.10
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system

    values:
        TZ: America/Montreal
        cnpg:
            main:
                backups:
                    credentials: s3
                    enabled: true
                    retentionPolicy: ""
                    revision: "1"
                cluster:
                    instances: 1
                    singleNode: true
                database: grafana
                enabled: true
                hibernate: false
                mode: recovery
                monitoring:
                    disableDefaultQueries: false
                    enablePodMonitor: true
                password: PLACEHOLDERPASSWORD
                pgVersion: 16
                pooler:
                    enabled: false
                recovery:
                    enabled: true
                    revision: ""
                    credentials: s3
                user: grafana
        credentials:
            s3:
                type: s3
                url: "${S3URL}"
                bucket: "${S3BUCKET}"
                accessKey: "${S3ID}"
                secretKey: "${S3KEY}"
                encrKey: "${S3ENCRKEY}"
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: grafana.${BASE_DOMAIN}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        persistence:
            data:
                enabled: true
                mountPath: /var/lib/grafana
                readOnly: false
                storageClass: ""
                volsync:
                    - credentials: s3
                      dest:
                        enabled: false
                      name: s3
                      src:
                        enabled: true
                      type: restic
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_USER}
                                GF_SECURITY_ADMIN_USER: ${GRAFANA_PASSWORD}
