---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflared
    namespace: cloudflared
spec:
    interval: 15m
    chart:
        spec:
            chart: cloudflared
            version: 15.2.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 15m
    timeout: 20m
    maxHistory: 3
    install:
      createNamespace: true
      remediation:
        retries: 3
    upgrade:
      cleanupOnFail: true
      remediation:
        retries: 3
    uninstall:
      keepHistory: false

    values:
        TZ: America/Montreal
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            args:
                                - tunnel
                                - --no-autoupdate
                                - run
                            env:
                                TUNNEL_TOKEN: "${CLOUDFLARE_TUNNEL_TOKEN}"
