---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: external-service-truenas
    namespace: external-service
spec:
    interval: 15m
    chart:
        spec:
            chart: external-service
            version: 16.15.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 15m
    timeout: 20m
    maxHistory: 3
    install:
      createNamespace: true
      remediation:
        retries: 3
    upgrade:
      cleanupOnFail: true
      remediation:
        retries: 3
    uninstall:
      keepHistory: false

    values:
        ingress:
            main:
                annotations:
                    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
                enabled: true
                ingressClassName: external
                hosts:
                    - host: truenas.${BASE_DOMAIN}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        service:
            main:
                enabled: true
                externalIP: ${TRUENAS_IP}
                ports:
                    main:
                        enabled: true
                        port: ${TRUENAS_PORT}
                        protocol: https
                type: ExternalIP
