# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: authelia
    namespace: authelia
spec:
    interval: 15m
    chart:
        spec:
            chart: authelia
            version: 29.33.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    values:
        TZ: America/Montreal
        domain: ${BASE_DOMAIN}
        authelia:
            server:
                buffers:
                    read: 8192
                    write: 8192
            session:
                expiration: 1h
                inactivity: 5m
                name: authelia_session
                remember_me: 5M
                same_site: lax
                cookies:
                    - domain: auth.${BASE_DOMAIN}
                      authelia_url: https://auth.${BASE_DOMAIN}
            totp:
                issuer: ${BASE_DOMAIN}
                period: 30
                skew: 1
            webauthn:
                disable: false
                enable_passkey_login: false
            notifier:
                smtp:
                    address: ${SMTP_HOST}:${SMTP_PORT}
                    username: ${SMTP_USER}
                    password: ${SMTP_PASSWORD}
                    sender: ${SMTP_FROM}
                    startup_check_address: ${SMTP_FROM}
            identity_providers:
                oidc:
                    claims_policies:
                        default:
                            id_token:
                                - groups
                                - email
                                - preferred_username
                                - name
                    hmac_secret: ${AUTHELIA_OIDC_HMAC_SECRET}
                    jwks:
                        - key: ENC[AES256_GCM,data:Nwz1hNjZpa3oNCSFnvKQj+UqSARHPw2zd/G6YjE9LGfJOw0mlAV6ul8v+SvNtaeEBNQdupTZ1tf+WSWSdGWDYfF/R7OA8Bn/WNIDJlmjM4kz/V64i7Vb5Sr5UzpL0aTJwV7NsX2rtsFsdurNRlFwL76gSEA68vDm/MXgZeOKGBrAw7FfBbNFf+3XZ36vrV5gS2vsYuJQ/q3BEhxXF7OYyBd2kMvplvPq49c+RAdJwvDt+Vum3bnWjTTP3N7ZLsxo8nWvl2TWYf4SmXbllbvktu4JIafF3L53H9+VfReRXCZLyuisFBy+EvoFETnIin+P9/6xGybPKGSf+doqm0pltAdwgKaUwlXb+ywfhfyVjcNKAjduBNb0I+LDCdPkWFsyybr0CTglIxMhIe3dzPtWAJ6AZU2c3xc+641IvFhmkN7qMpmUr7qBPo3ZBz1fEd61T3YCjr6IlYb+cbWo1NxdjB/rfCHECA8LJfO1e0J3nuL1ze+5Mkqm+QgawFXfMDKdhrqyDUZlmHUC/7sKuoYAPoXLd7gnp1RNdk4OX2uu8Uh+9RvI7nXYAx8hdJqxtnkg4EHyPm3XcpyRnSzQJm/ipcDjK5LAKcLQHhd7XQ6qDgq894uf2qaHXfDJ9NU78FEzqJzlBlLF/i5h4cPwe1yaTEXpzNPH37K96qhCbfOUZCyvsP0f+B70vOgOun1Vv6tn9Bc9Kdt3aBYxGbyuywroEIPHjGi3VJQAsGn+7HL9fQSi73zQcNtyiYzub06dvWaACpc4kjPGlOSNnD8diJmGeCo9b5BKrEwI5mJ+B/3sQOJV/YVjVp5XYMTeY2pV83yaGRbkWsY78lG6our3wVrQFKdQI0nrcqXhASqcR6nhb1755A0LuJ8/7XjvU2+SVvPLHRtbCCw1UR3oGqqFaR8BukCNm+RDiwQ2uLbK9GqbYJqtX41BJUzFb5/Qi/1jLSmJb4joJ2RQklnOuV+9S2/17JPkzwh7OXOx/ZYnxarEe3uoncIXEHPvUTor3skXatHdOP1wNFXBwo/V7lfHtLUSDWCo4M8wkNPyZ+5SKB5mrb0gQOG2WFxduCgbXitMIzwc1Ugdp49Uym/zQJM06EoOYW4tdiYyCJr1hdwUE24QDdsj2hoqDOD6gTAAA45h7TEuz0m7/iR2UYV4zGwnRfsfuSYfVlQGN+FJZkQk2pC+db/d/KYqHPIZSHt0qgqqRGqPbAkOZPHslEm9ROscNlnuIsemg8nlVk7OkQcI81DBRKHoym7+fxSOMNbS95B/bVVtmAHAzkc8eHTOS7d96UiPzT0TRceUYoweuVSzV8uoqKHu06HigLneD6hQucif565sRp5MkkHupvhQTHL93xMbgtCrzvdu4L2NS7t9Q9q3LWTfw2MaKtl4cx2XJq53aSygAhIEljqRU8/JZQ7WRYqpdBCAfbxIQoH1Ig/H3ZFG8l6Mg/MnFy7elSIPcKSVF2odSHvyfIe8GJk3qVQxciRtcL2T0C+Qi8YQ6YMhz4zzrw/Mjk+QA17CTnIO4skAiLPXbIvd7nx9+zsld08RMUl7IrIPUW9mQJj/AHg0q4dMX+FACR3UYRk6/x2bsmcXkd0RD6X1hY6HxdHNZQYEJCPVFwtQLQsZ10hxuPWi5t5szPrl2rCKQ3XZjipR1Si7wV6rliNuVyuz7hXmogiqKC5BnkLYhi/v6EbrH6VRUl0fJaKrDg2P6HiJLrdsmsRL/5otcYKGkCF9LZqcXvyy8pE4ZDK+cmpW+BWeUGmHwpSci0xhB/TWL7zxJ2hAoIGu/zUsoRIfkjLJclFcLLuPIXm+hQq2tHmVgWCz00FfuC7T5gsakmR1LVHmjZWLkc/pasf2oXCHceCj2vhqpp2uh21+kfrzRo1Ez9nXOB9YvQGeA0D6wuNuqKce1/1rSU6J+He/JwpwSIPsmE1/dPKtMbLip7yXOudKbotnxUTlZ3js0V+HqOkgE7rr6ku0PnR8VgRFbfSXVcmFLqCVcHyoqDqFn1bsyAGoycFCHofgaioVHMQo2OxTQWG5NiPU6qLDuB9wEaUNtJUM1SAcnUrJAhQeZn5AqizyjKPN6jjwrp0hUWSrnZxWayH7g69i77JFw1gWBQD+O30wUshLO2PfUMYFV2vGSAy+KeCbknKrLv9DXuylCINwBa3mS2ITn5wvubMRE+K5ZsE8SIGN3zCOVqvaIqH+MiNRhMhNk5WrPjJeVsI7S7DN4/8EWPc2L7vSKQw0BMIwvY7NNo4GNuN8uVn4hRKU97gNT8hd9PNaEIjEOQV9YSCy7xIX3bLULUSYNeIpfLKPELZpcyhCeef4hvaVgW/+lHhujMhC3woVD+broAoupYswcU5YS1jynt8A17WJSKHCjhjaKyWSWe++ljuKU3ChgYkgzWp80gFvBkkobm/+JubSCBA2rjHrhHGqsexfTKkgPbA91podoRkmbtNMgYCxx2bsCBmBz80pTu5w6aMwqVggvsdKP9uy4/e8hcyuqtA/xUzkNRiZ/z5Ggp/LxSxpk0jz4akuGOB7jmjzf9o+/8hlsCPgYfJXGoguwsPAmfdAwb0t9QQ9FKkuf+GLTFLu3uPa/58M45HIoKFLYxdx9oh3dT11T3pUmciYe8UBHqRTKnBwaQbtp94aSNwQ96beA6trV8LtNsFwQGTRqoV9FgEeH3qlAflHeqSYcRc6fgRDGiyqQOzISnGGvLVybreaiFWs79MX6cx+oCRITMfMHc7e0dBAcXCTUsXwiMdD+oFs4o0V99SV5QWKGirIIPiMFkCviPVcBMIpHLJE1iurccHMGdtpKdRwEJOteRzEAcxfiuJLVALCySkH8bDaWqOat5H9INAqvK5Auyn8JMdCXvBe1qwoZPzzpCp4XIN7j3UFwQk3JYj74/AD8zP5k3oCSy+7aoetxx0eiUo09uHvepR3JUhVLVhWUFlNBl1+sc3DJWdsEQDS+uOPcM156yg0FP6cPlD1gFFijdn2AxbseuJKv6bYXhESTMFU2/9n5s6r/t5cgq5tlHVKJCOYJiuH9ykCzz8Khoe6cuKlTU1K9hWTzKfdIy2sUaU1DDYpQNto2diAtzyg3RmfgFGXJbc8ZFSJAgFfp0L1Jx5Y8vQZLfw9EiiBv6YI5SVw4SoGd106ipaw/DgkcJ1joaoRckrAqoE/UjtDxvXtbQZ+gbeBrlFkDArfZjz6rKXJxiGomuG8LfY7B9EDmlxGmdLnO5cIa9VsVz6FkqmQvu6ndITbvT/qvTfZ+eg3Q6XQx6nutfRcFXHc8qko3rNZK6Q3Zn1LrCnAA0cGrRtfguiS4A2JtsCzB75MdGDidkiIQ92Y8HOvRJpAA//dPmMv6t/3Sht0BBBQhWEn9Mhtb6EB6q10H3hQVvG01ld1OOWfyP2DrzHGqhy7i4QXk8OzWlciLye3S9zSyAc09drIyxb8LZpo5Kd0JcypJqB1+sKtFqU7ATGPQpDD0P+aoNp8k8IBVY1fk9VG+3XIN/R6+lqlMoacO96mtcJeGoFD16cexUw0GlFuUdVH2uGD8q8dfJN71JdyK675mj9haGnyIlNfGAsESN9ZSQ7/N9DLUACBVLwtSNnPHo9Ho7s0KEoF3MK8AtiwRhiQ30J9qdmEUKsZuzbaHb6a0heerjG2gRpgBlf7iylWbPolJeeVakxRJVhO041htmmjSH3Ztu2K3B9uEhdGg5llOQrQcGpC8lGMCoxQEpwVVZekNJGJt85n9g/pbSA9mkJ4XfK6QrXnDVTiyFvNiIy+5DmU3QkqU0qcg8hs7FUOEKmbtb69ypMXKovqW7doJAnGtgQ4fJPKuBvXkoCqKv63FYY6MtIAKJT73LjdzhWPHoeZrqauw36fMsaf+MS/mlMlvrJYzdZT7puVr9EoqvnQ7ul5plpXeHDGxu1YFFR6V9oHdXepe3m3d0ca65cBVYRY7iO9hgNFkqICv4MhRNse7KePlvS88xt7XTMdDfaEP0PSO7WrPs9LYUSTL9P0sHBU7+R04/rBmRReGkQB4vK0B+0yUcb5phCRKcTsac6gtxovLHjxiGGXzo7EWmqxtXg29sLU1XQ5B5eXlPStKFcxYcmsPf+yrIK98myd4ytSD8aaB91SJsyG/sSl9IVuWm0RVCCVCgdwqUuQlYv7UdoS2gkQHLTIbKwoKZpgda5ObXIuox5sEc3VoxYR+rNB+UNXn35N3g09VKTEF2M18gLBrpZkrx9pDfVla0g0eTPSdKI+hWlelVPZHHjhX6EIZtgH/E4w1TDN47eeqsib8seF5+p1UxPRfhsXNbsKPM4OjM2vzvoCxED6XTmb42GtxtP4aEJVR8o=,iv:+u8mZRagqO2ZzaWMSBkTfoPBf0itihuzdLrQExV2ypU=,tag:OnfiRYek/Mj2/jVtoG7KfA==,type:str]
                    clients:
                        - client_id: ${AUTHELIA_CLOUDFLARE_ID}
                          client_name: Cloudflare Access
                          client_secret: ${AUTHELIA_CLOUDFLARE_SECRET}
                          consent_mode: implicit
                          redirect_uris:
                            - ${AUTHELIA_CLOUDFLARE_REDIRECT_URI}
                          require_pkce: true
                          claims_policy: default
                        - client_id: ${AUTHELIA_MEALIE_ID}
                          client_name: Mealie
                          client_secret: ${AUTHELIA_MEALIE_SECRET_DIGEST}
                          consent_mode: implicit
                          redirect_uris:
                            - https://mealie.${BASE_DOMAIN}/login
                          require_pkce: true
            access_control:
                default_policy: two_factor
                rules:
                    - domain:
                        - auth.${BASE_DOMAIN}
                      domain_regex: []
                      networks: []
                      policy: bypass
                      resources: []
                      subject: []
                    - domain:
                        - ${BASE_DOMAIN}
                      domain_regex: []
                      networks: []
                      policy: two_factor
                      resources: []
                      subject:
                        - group:users
            authentication_backend:
                password_reset:
                    disable: true
                password_change:
                    disable: false
                ldap:
                    additional_groups_dn: OU=Groups
                    additional_users_dn: OU=people
                    base_dn: ${LLDAP_LDAP_BASE_DN}
                    attributes:
                        group_name: cn
                        display_name: displayName
                        username: uid
                        mail: mail
                    groups_filter: (member={dn})
                    implementation: custom
                    password: ${LLDAP_LDAP_USER_PASS}
                    start_tls: false
                    timeout: 5s
                    tls:
                        minimum_version: TLS1.2
                        server_name: ""
                        skip_verify: false
                    address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
                    user: uid=ldap,ou=people,${LLDAP_LDAP_BASE_DN}
                    users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
                refresh_interval: 5m
        cnpg:
            main:
                backups:
                    credentials: s3
                    enabled: true
                    retentionPolicy: ""
                    revision: "1"
                cluster:
                    instances: 1
                    singleNode: true
                database: authelia
                enabled: true
                hibernate: false
                mode: recovery
                monitoring:
                    disableDefaultQueries: false
                    enablePodMonitor: true
                password: PLACEHOLDERPASSWORD
                pgVersion: 16
                pooler:
                    enabled: false
                recovery:
                    enabled: true
                    revision: ""
                    credentials: s3
                user: authelia
        credentials:
            s3:
                type: s3
                url: ${S3URL}
                bucket: ${S3BUCKET}
                accessKey: ${S3ID}
                secretKey: ${S3KEY}
                encrKey: ${S3ENCRKEY}
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: auth.${BASE_DOMAIN}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
                required: true
        persistence:
            config:
                enabled: true
                mountPath: /config
                readOnly: false
                volsync:
                    - credentials: s3
                      dest:
                        enabled: true
                      name: s3
                      src:
                        enabled: true
                      type: restic
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_ENCRYPTION_KEY}
                                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_TOKEN}
                                AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
sops:
    shamir_threshold: 3
    age:
        - recipient: age1fxr2mjtfjy0t755p2tmemttj4ft70sgffhv0ax99v6agutqh6d6shh439a
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA0amtQYm9aOWdiUmI1V0Jn
            Zms2RUlJTUR5L3hIUiswZmZZb2ROVTk0TjFzCkw0aWFKUk1oM0xYVHkvSjZkc2NJ
            MVk2V1RvM2ZHSW9DRk9XK1hyUXZXREkKLS0tIGIrUW12Z2IyNW43bmlBQlFSVnFE
            bEhkVU9JTk1XRjNwQjZ4RG4rVzlSWWMKKh5ea26BWyQPg3EAbFcK6PdImkFsM+VD
            +O24Z386bUdn0IIlM8iDhZM238d9cg0i+sohSUv+uWM4TcM2fq+DEA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-04-17T00:54:55Z"
    mac: ENC[AES256_GCM,data:RnmBObbOzUxyEX3imWEfzno8hQV9/cSHS3FdyCJkOL/5AMIS42stavXDd2Mp0KjI0X7GWNjOKUGjqsRfj5nBJ80k4cGRFaj7liwbnAOhn5yOfO0WldLRog3X9f7v8QAk4mSt8nx5ZwEAisruAYkyMDBiw6pgm+jvmpAeBm4XjR4=,iv:OjYpmuOgfLRZg12HoYrX4V1lqH6lg5q3p6IEuMFOuQs=,tag:t47SiUydU7aBzMQBQbr1sQ==,type:str]
    encrypted_regex: jwks
    version: 3.10.1
