apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 5m
  releaseName: longhorn
  chart:
    spec:
      chart: longhorn
      version: 1.10.1
      sourceRef:
        kind: HelmRepository
        name: home-ops-mirror
        namespace: flux-system
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    defaultSettings:
      defaultReplicaCount: "2"
      storageOverProvisioningPercentage: "100000"
      # v2DataEngine: true
      concurrentAutomaticEngineUpgradePerNodeLimit: "2"
      defaultDataLocality: best-effort
      replicaAutoBalance: best-effort
      migratable: true
    persistence:
      defaultClass: true
      defaultClassReplicaCount: "2"
      defaultDataLocality: best-effort
      replicaAutoBalance: best-effort
      migratable: true
      # dataEngine: v2
