---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: mealie
    namespace: mealie
spec:
    interval: 15m
    chart:
        spec:
            chart: mealie
            version: 26.22.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system

    values:
        TZ: America/Montreal
        cnpg:
            main:
                backups:
                    credentials: s3
                    enabled: true
                    retentionPolicy: ""
                    revision: "1"
                cluster:
                    instances: 2
                    singleNode: true
                database: mealie
                enabled: true
                hibernate: false
                mode: recovery
                monitoring:
                    disableDefaultQueries: false
                    enablePodMonitor: true
                password: PLACEHOLDERPASSWORD
                pgVersion: 16
                pooler:
                    enabled: false
                recovery:
                    enabled: true
                    revision: ""
                    credentials: s3
                user: mealie
        credentials:
            s3:
                type: s3
                url: "${S3URL}"
                bucket: "${S3BUCKET}"
                accessKey: "${S3ID}"
                secretKey: "${S3KEY}"
                encrKey: "${S3ENCRKEY}"
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: mealie.${BASE_DOMAIN}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        mealie:
            api:
                general:
                    allow_signup: true
                    base_url: https://mealie.${BASE_DOMAIN}
                    default_group: Home
                    token_time: 48
                oidc:
                    admin_group: lldap_admin
                    auth_enabled: true
                    auto_redirect: true
                    client_id: ${AUTHELIA_MEALIE_ID}
                    configuration_url: https://auth.${BASE_DOMAIN}/.well-known/openid-configuration
                    provider_name: OAuth
                    remember_me: true
                    signup_enabled: true
                    user_group: "users"
                    OIDC_CLIENT_SECRET: ${AUTHELIA_MEALIE_SECRET_PLAIN}
                openai:
                    OPENAI_API_KEY: ${OPENAI_API_KEY}
                smtp:
                    auth_strategy: ${SMTP_AUTH_STRATEGY}
                    from_email: ${SMTP_FROM}
                    from_name: Mealie
                    host: ${SMTP_HOST}
                    password: ${SMTP_PASSWORD}
                    port: ${SMTP_PORT}
                    user: ${SMTP_USER}

                    SMTP_AUTH_STRATEGY: TLS
        persistence:
            data:
                enabled: true
                readOnly: false
                targetSelector:
                    main:
                        main:
                            mountPath: /app/data
                volsync:
                    - credentials: s3
                      dest:
                        enabled: true
                      name: s3
                      src:
                        enabled: true
                      type: restic
