---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: scrypted
    namespace: scrypted
spec:
    interval: 15m
    chart:
        spec:
            chart: scrypted
            version: 7.19.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 15m
    timeout: 20m
    maxHistory: 3
    install:
      createNamespace: true
      remediation:
        retries: 3
    upgrade:
      cleanupOnFail: true
      remediation:
        retries: 3
    uninstall:
      keepHistory: false

    values:
        image:
          tag: v0.142.7-noble-full@sha256:e07520cb9cd4be246a5073435ebea84970719089a285efc50f9b613590cde055
        TZ: America/Montreal
        credentials:
            s3:
                type: s3
                url: "${S3URL}"
                bucket: "${S3BUCKET}"
                accessKey: "${S3ID}"
                secretKey: "${S3KEY}"
                encrKey: "${S3ENCRKEY}"
        ingress:
            main:
                enabled: true
                ingressClassName: external
                hosts:
                    - host: scrypted.${BASE_DOMAIN}
                      paths:
                        - path: /
                          pathType: Prefix
                integrations:
                    certManager:
                        certificateIssuer: domain-0-le-prod
                        enabled: true
        persistence:
            server:
                enabled: true
                mountPath: /server/volume
                readOnly: false
                volsync:
                    - credentials: s3
                      dest:
                        enabled: true
                      name: s3
                      src:
                        enabled: true
                      type: restic

        service:
            main:
                enabled: true
                loadBalancerIP: ${SCRYPTED_IP}
                ports:
                    main:
                        enabled: true
                        port: 10611
                        protocol: tcp
                        targetPort: 10611
                    mdns:
                        enabled: true
                        port: 5353
                        protocol: udp
                        targetPort: 5353
                    homekit:
                        enabled: true
                        port: 36515
                        protocol: tcp
                        targetPort: 36515
                type: LoadBalancer
        workload:
            main:
                podSpec:
                    hostNetwork: true
                    containers:
                        main:
                            env:
                                SCRYPTED_WEBHOOK_UPDATE: ${SCRYPTED_WEBHOOK_UPDATE}
                                SCRYPTED_WEBHOOK_UPDATE_AUTHORIZATION: ${SCRYPTED_WEBHOOK_UPDATE_AUTHORIZATION}
