---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-media-nfs-pv
  namespace: media
spec:
  storageClassName: data-media-nfs
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=3
    - async
    - hard
    - nconnect=16
    - noatime
    - nodiratime
    - nolock
    - rsize=1048576
    - wsize=1048576
    - timeo=600
    - retrans=2
  nfs:
    server: ${TRUENAS_NFS_IP}
    path: /mnt/data/media
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-media-nfs-pvc
  namespace: media
spec:
  storageClassName: data-media-nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
