---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: downloads-nfs-pv
  namespace: media
spec:
  storageClassName: downloads-nfs
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=3
    - async
    - hard
    - nconnect=16
    - noatime
    - nodiratime
    - nolock
    - rsize=131072
    - wsize=131072
    - timeo=600
    - retrans=2
  nfs:
    server: ${TRUENAS_IP}
    path: /mnt/NVMe/downloads
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: downloads-nfs-pvc
  namespace: media
spec:
  storageClassName: downloads-nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
