---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-movies-nfs-pv
  namespace: media
spec:
  storageClassName: media-movies-nfs
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=3
    - async
    - hard
    - nconnect=16
    - noatime
    - nodiratime
    - rsize=1048576
    - wsize=1048576
    - timeo=600
    - retrans=2
  nfs:
    server: ${TRUENAS_IP}
    path: /mnt/main/media/movies
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-movies-nfs-pvc
  namespace: media
spec:
  storageClassName: media-movies-nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
